body{
    background: #2C3E50;
    background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);
    background: linear-gradient(to right, #4CA1AF, #2C3E50);
}

.image-box{
    width: 50px;
}

.logo{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
}

.card{
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
}

.card:hover{
    border: 1px solid orange;
}


/* Boostrap overrides */
#bootstrap-card-override{
    background-color: inherit;
}